body {
  background-color: #faedcb;
}
h1 {
  background-color: #e2d7f3;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  font-size: 25px;
  box-shadow: 5px 5px 6px rgba(129, 70, 243, 0.2);
}
footer {
  background-color: #d4e9e5;
  border-radius: 20px;
  padding: 20px;
  margin: 50px auto;
  font-size: 10px;
  text-align: center;
  box-shadow: 5px 5px 6px rgba(29, 152, 129, 0.2);
}
#container {
  margin: 120px auto;
  max-width: 600px;
  font-family: sans-serif;
}

#submit-form {
  background-color: #fae1d0;
  border-radius: 20px;
  padding: 20px;
  margin: 50px auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 6px rgba(175, 126, 0, 0.2);
}

#poem-field {
  background-color: #f5d2e6;
  padding: 30px;
  height: 300px;
  margin: 50px auto;
  border-radius: 20px;
  font-family: monospace;
  border-left: solid 8px #e2d7f3;
  font-size: 15px;
  box-shadow: 5px 5px 6px rgba(154, 0, 175, 0.2);
  line-height: 2;
}
#submit-button {
  background-color: #d4e9e5;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
}
#topic-input {
  border: none;
  padding: 10px 300px 10px 20px;
  border-radius: 30px;
  background-color: #edfcf9;
}
#topic-input::placeholder {
  width: fit-content;
  text-align: left;
  color: darkgray;
}
#topic-input:focus {
  outline: none;
}
